/* fonts */
@font-face {
    font-family: "Akrobat";
    src: url("../fonts/Akrobat-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Akrobat";
    src: url("../fonts/Akrobat-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Akrobat";
    src: url("../fonts/Akrobat-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Akrobat";
    src: url("../fonts/Akrobat-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Akrobat";
    src: url("../fonts/Akrobat-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Akrobat";
    src: url("../fonts/Akrobat-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

/* general */
:root {
    --red: #DC0033;
    --white: #FFFFFF;
    --black: #1C1C1C;
    --red-dark: #A40227;
    --font-main: "Akrobat", sans-serif;
    --font-decorative: "Playfair Display", serif;
}
body {
    background-color: var(--black);
    font-family: "Akrobat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: var(--white);
    line-height: 1.3;
}

a {
    text-decoration: none;
}

.title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    
}

section {
    margin-bottom: 100px;
}

sup {
    font-size: 1.1em;
    position: relative;
    /* top: -0.1em; */
    color: var(--red);
}

/* header together with hero*/
/* header-top */
.container {
    max-width: 1200px;
    margin: 0 auto;    /* center elements */
    padding: 0 10px;
}

.container-header {
    border-bottom: 1px solid var(--white);
}

.header-top {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.menu__list {
    display: flex;
    gap: 0 30px;
    list-style: none;
}

.menu__link {
    text-transform: uppercase;
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
}

.logo__img {
    max-height: 50px;
    width: auto;
}

/* dropdown-languages */
.form-group {
    display: flex;
    width: auto;
    max-width: none;
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
}
.form-control {
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: var(--red);
    font-style: normal;
    font-weight: 500;
    color: var(--white);
}
.form-control:focus {
    outline: none;
    border: 1px solid var(--white);
}
.dropdown {
    position: relative;
    /* height: 72px; */
}
.dropbtn {
    cursor: pointer;
    display: flex;
}

.dropbtn::after {
    font-size: 24px;
}
.dropbtn:focus {
    outline: none;
    border: 2px solid var(--white);
}
.dropdown-content {
    top: 100%;
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--red);
    width: 100%;
    font-family: "Akrobat", sans-serif;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    z-index: 1000;
}
.dropdown-content a {
    color: var(--white);
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    border-top: 1px solid var(--white);
    max-width: none;
    font-family: "Akrobat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.dropdown-content a:hover {
    background-color: var(--red-dark);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: var(--red);
    border-radius: 10px 10px 0 0;
}

/* hero */

.header__inner {
    min-height: 100vh;
}

.hero__inner__img {
    max-height: 75vh;
    width: auto;
}

.hero__inner {
    display: flex;
    gap: 0 20px;
    align-items: center;      /* левая и правая сторона центрируются по вообразимой центральной линии относительно друг друга */
    justify-content: space-between;  /* чтоб растянулись две половины по ширине контейнера */
}

.hero__inner__box {
    max-width: 700px;
}

.hero-title-box {
    max-width: 540px;
}
.hero-title {
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.hero-title-decor {
    font-family: var(--font-decorative);
    font-size: 80px;
    font-style: italic;
    font-weight: 800;
    /* margin: 40px 0; */
}

.hero-btn {
    background-color: var(--red);
    padding: 15px 30px;
    display: inline-block;    /* перестает вести себя как линейный элемнт и становится как блочный - не заходит на текст */
    border-radius: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
}

/* main content */
.what-i-do, .references {
    /* margin: 50px 0; */
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 50px 0;
}

.what-i-do-content, .references-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.inner-list{
    display: flex;
    text-align: left;
    /* gap: 0 30px; */
}

dt {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
dd {
    margin: 0;
}

.what-i-do .inner-list div {
    padding: 0 30px;
    border-right: 1px solid var(--white);
}
.references .inner-list div{
    padding: 0 30px;
    border-right: 1px solid var(--white);
}
.inner-list > div:first-child {
    border-left: 1px solid var(--white);
}

.portfolio-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.portfolio-text {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.clients-list .clients-img{
    margin-bottom: 50px;
}

.my-clients .three-arias{
    margin-top: 60px;
}

.clients-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    /* єто віровняло иконки по их размеру. они были растянуты по ширине контейнера после применения flex */
    border: 1px solid var(--white);
    padding: 50px;
}

.my-clients .clients-list:not(:last-child) {
    border-right: none;
}

.clients-link {
    font-size: 24px;
    color: var(--red);
    font-weight: 400;
}
.clients-link {
    margin-top: auto;
}

.clients-list dd {
    margin-bottom: 30px;
}

.references div dd {
    margin-bottom: 30px;
}


/* cervices */
.services-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    /* we wont 2 colums with a size 1 fr which means 2 equal fractions, size unknown */
    /* grid-template-rows: repeat(2, 1fr); */
    align-items: stretch;
    min-height: 80vh;
    margin-top: 60px;
}
.services-header-2 {
    grid-column: span 2;
}
.service-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.card-btn {
    background-color: var(--red);
    padding: 10px 20px;
    border-radius: 60px;
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    margin-top: auto;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.card-text{
margin-bottom: 50px;
}
.services-header-2, .services-header-3, .services-header-others{
    background-color: var(--red);
    border: 1px solid var(--white);
    text-align: center;
    letter-spacing: 1px;
}
.service-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    padding: 30px;
}
.card-title{
    text-transform: uppercase;
    font-size: 26px;
}

.services-grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    /* we wont 2 colums with a size 1 fr which means 2 equal fractions, size unknown */
    /* grid-template-rows: repeat(2, 1fr); */
    align-items: stretch;
    min-height: 80vh;
    margin-top: 60px;
}
.services-header-3 {
    grid-column: span 3;
}

.services-other{
    margin-top: 60px;
}
.other--list{

}
.other--list--item{
    
}